<div class="container medium">
  <% if session['user_id'] == nil %>
    <h1 class="centertext">Ooey Gooey Goodness Gracious</h1>
    <p>Welcome to Grilled Cheezy, where we share our love of all things grilled cheese.</p>
    <p>Get started here by creating an account with us and expand your horizons (regarding grilled cheese)!</p>
    <div style="display: flex; justify-content: center;">
      <a href="/join" class="btn">Create an Account now</a>
    </div>
  <% else %>
    <h1 class="centertext">Welcome, <%= User.find(session['user_id']).first_name %></h1>
    <% if @posts.count == 0 %>
      <p class="centertext">There are no posts!</p>
    <% else %>
      <% @posts.each do |post| %>
      <div class="post">
        <h2 class="postTitle"><%= post.title %></h2>
        <p><%= post.content %></p>
        <p><%= post.created_at %></p>
        <p class="postInfo">By <%= User.find(post.user_id).username %></p>
      </div>
      <% end %>
    <% end %>
    <div style="display: flex; justify-content: center;">
      <a href="/posts" class="btn">What do you know about Cheez?</a>
    </div>
  <% end %>
</div>
