<div class="form container">
  <h1 class="centertext">Account Preferences</h1>
  <% if @error != nil %>
  <h5 style="color: red;" class="centertext"><%= @error %></h5>
  <% end %>
  <% if @success != nil %>
  <h5 style="color: green;" class="centertext"><%= @success %></h5>
  <% end %>
  <form action="/account" method="post">
    <label for="email">Email</label>
    <p><%= @user.email %></p>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" value="<%= @user.username %>">
    <label for="firstName">First Name</label>
    <input type="text" name="first_name" id="firstName" value="<%= @user.first_name %>">
    <label for="lastName">Last Name</label>
    <input type="text" name="last_name" id="lastName" value="<%= @user.last_name %>">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter your password to confirm any changes">
    <input type="button" value="Change Password" onclick="showChangePassword()" id="passwordBtn">
    <input type="password" name="new_password" id="changePassword" placeholder="This will change your password" style="display:none;">
    <label for="birthdate">Birthdate</label>
    <p><%= @user.birthdate %></p>
    <input type="submit" value="Apply">
    <input type="button" value="DELETE ACCOUNT" onclick="toggleDelete()" id="deleteAcc" style="background-color: red!important; color: white;">
  </form>
  <form style="display: none;" action="/deleteacc" method="post" id="deleteForm">
    <input type="text" name="deleteAcc" placeholder="Enter password here to delete your account">
    <input type="submit" style="background-color: red!important" value="DELETE">
  </form>
</div>
