<div class="form container">
  <h1 class="centertext">Account Preferences</h1>
  <form action="/account" method="patch">
    <label for="email">Email</label>
    <p><%= @user.email %></p>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="<%= @user.username %>">
    <label for="firstName">First Name</label>
    <input type="text" name="first_name" id="firstName" placeholder="<%= @user.first_name %>" required>
    <label for="lastName">Last Name</label>
    <input type="text" name="last_name" id="lastName" placeholder="<%= @user.last_name %>" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Must be at least 8 characters" required>
    <label for="passwordConfirm">Confirm Password</label>
    <input type="password" name="password_confirm" id="passwordConfirm" placeholder="Enter your password again" required>
    <label for="email">Birthdate</label>
    <p><%= @user.birthdate %></p>
    <input type="submit" value="Submit">
  </form>
</div>
