<div class = "container medium">
  <% if @posts.count > 0 %>
    <% if @posts[0].user_id == session["user_id"] %>
    <h1 class="centertext">Your Posts</h1>
    <% else %>
    <h1 class="centertext"><%= "#{User.find(@posts[0].user_id).username}'s " %>Posts</h1>
    <% end %>
    <% @posts.each do |post| %>
    <div class="card-top">
      <h3><%= post.title %></h3>
      <p>By
      <a href="/posts/<%= post.user_id %>"><%= User.find(post.user_id).username %></a>
      </p>
    </div>
    <div class="card-middle">
      <p><%= post.content %></p>
    </div>
    <div class="card-bottom">
      <p><%= post.created_at %></p>
      <div style="
      <% if post.user_id != session['user_id'] %>
      visibility: hidden;
      <% end %>
      ">
        <a href='/post/update/<%= post.id %>'>Edit</a>
        <a href='/post/delete/<%= post.id %>'>Delete</a>
      </div>
    </div>
    <% end %>
  <% elsif @posts.count == 0 %>
    <h3 class="centertext">No posts here!</h3>
  <% end %>
</div>
