<div class = "container small">
  <% @posts.each do |post| %>
  <div class="card-top">
    <h2><%= post.title %></h2>
    <p>By <a href="/posts/<%= post.user_id %>"><%= User.find(post.user_id).username %></a></p>
  </div>
  <div class="card-middle">
    <p><%= post.content %></p>
  </div>
  <div class="card-bottom">
    <p><%= post.created_at %></p>
    <div style="
    <% if post.user_id != session['user_id'] %>
    visibility: hidden;
    <% end %>
    ">
      <a href='/post/update/<%= post.id %>'>Edit</a>
      <a href='/post/delete/<%= post.id %>'>Delete</a>
    </div>
  </div>
  <% end %>
</div>
